.lds-ripple {
  --lds-ripple-ratio: calc(var(--lds-ripple-size) / 64);
  display: inline-block;
  position: relative;
  width: var(--lds-ripple-size);
  height: var(--lds-ripple-size);
}

.lds-ripple div {
  position: absolute;
  border: var(--lds-ripple-thickness) solid var(--lds-ripple-color);
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: calc(28 * var(--lds-ripple-ratio));
    left: calc(28 * var(--lds-ripple-ratio));
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: calc(58 * var(--lds-ripple-ratio));
    height: calc(58 * var(--lds-ripple-ratio));
    opacity: 0;
  }
}
